<div class="container">
  <table>
    <tr>
        <div class="demo-headline">
          <h1 class="demo-logo logo">
            Audio cloud
            <small>Play all</small>
          </h1>
        </div>
    </tr>
  </table>

  <br>

<h1>New media_stream</h1>

<%= render 'form' %>

<%= link_to 'Back', media_streams_path %>

</div>
