<div>

    <ul data-music-container>
        <li data-track-container>
            <a data-audio-track data-behavior="play_audio_track" data-id="<%= media_stream.id %>" data-title="<%= media_stream.name %>" data-url="<%= media_stream.url %>" href="#">
                <i class="icon-play"></i>
            </a>
        </li>

    </ul>
</div>
